.URLForm {
  width: 500px;
  height: auto;

  #url-input {
    margin-bottom: 15px;
    height: 80px;
  }
}

@media (max-width: 550px) {
  .URLForm {
    width: 90%;

    #url-input::placeholder {
      font-size: 18px;
    }
  }
}
