.Home {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}
.Home .title-area {
  height: auto;
  margin-top: 150px;
  text-align: center;
}
.Home .title-area .title {
  padding-bottom: 10px;
}
.Home .developer-credit-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-end;
  padding-bottom: 40px;
}
.Home .developer-credit-container img {
  width: 30px;
  margin-right: 10px;
}

@media (max-height: 800px) {
  .Home .title-area {
    margin-top: 50px;
  }
}