.ResultCard {
  width: 500px;

  .heading {
    margin-bottom: 10px;
  }

  .card-content {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .loading-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .loading-text {
      padding-right: 30px;
    }
  }

  .url-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 550px) {
  .ResultCard {
    width: 90%;

    .card {
      .card-content {
        .loading-container .loading-text,
        .url-container {
          font-size: 18px !important;
        }
      }
    }
  }
}
