.Home {
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;

  .title-area {
    height: auto;
    margin-top: 150px;
    text-align: center;

    .title {
      padding-bottom: 10px;
    }
  }

  .developer-credit-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    align-self: flex-end;
    padding-bottom: 40px;

    img {
      width: 30px;
      margin-right: 10px;
    }
  }
}

@media (max-height: 800px) {
  .Home {
    .title-area {
      margin-top: 50px;
    }
  }
}

@media (max-width: 450px) {
  .Home {
    // Small viewport height units takes mobile browser UI overlays into account.
    // Nothing is cut off by the browser UI (ie. search bar, menu options).
    height: 100svh;
  }
}
